.slides-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

  ion-img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

.slide-img-container{
   min-height: 330px;
}
  .slide-text-container{
    text-align: center;
    .slide-text-title{
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      font-family: var(--font-manrope);
    }
    .slide-text-description{
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      font-family: var(--font-general-sans);
    }
  }
}

.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 10px;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(var(--ion-color-primary-rgb), 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &.active {
      width: 24px;
      border-radius: 4px;
      background-color: var(--primary-color);
    }
  }
}


.back-custom-button {
  --background: white;
  --box-shadow: none !important;
  --border-radius: 50%;
  --padding-start: 24px;

  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  --border: 1px solid #E3E3E3;
  border-radius: 50%;
  border: 1px solid #E3E3E3;
  text-align: center;
  box-shadow: 0px 1px 36px 0px #00000026;
  ion-icon {
    font-size: 20px;
    color: black;
  }
}

.fixed-bottom-buttons {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
  .back-custom-button-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
}
