.slides-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh !important;
}

.slide {
  min-width: 100%;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;
}

.slide-img-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  &.slide-img-1 {
    background-image: url('../../../assets/images/welcome-screen/welcome-1.svg');
  }
  
  &.slide-img-2 {
    background-image: url('../../../assets/images/welcome-screen/welcome-2.svg');
  }
  
  &.slide-img-3 {
    background-image: url('../../../assets/images/welcome-screen/welcome-3.svg');
  }
}

.pagination-dots {
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 10px;

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(var(--ion-color-primary-rgb), 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &.active {
      width: 24px;
      border-radius: 4px;
      background-color: var(--primary-color);
    }
  }
}


.back-custom-button {
  --background: white;
  --box-shadow: none !important;
  --border-radius: 50%;
  --padding-start: 24px;

  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  --border: 1px solid #E3E3E3;
  border-radius: 50%;
  border: 1px solid #E3E3E3;
  text-align: center;
  box-shadow: 0px 1px 36px 0px #00000026;
  ion-icon {
    font-size: 20px;
    color: black;
  }
}

.fixed-bottom-buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: transparent;
  .back-custom-button-container{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
  }
}
