<footer class="pb-5 pb-md-0 pt-5 mt-md-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<img src="img/logo.webp" class="img-fluid mb-3" alt="">
				<p class="text-white"> Sanatanis App has brought religious services to the masses in India by connecting devotees, pundits, and temples. Partnering with over 50 renowned temples, we provide exclusive pujas and offerings services performed by expert pandits and share videos of the completed puja rituals. </p>
			</div>
			<div class="col-12 col-md-3 offset-md-1 mt-4">
				<h3 class="text-white mb-3"> Links </h3>
				<div class="d-flex flex-column flex-md-row">
					<nav class="nav flex-column">
						<a class="nav-link ps-0" href="#about-puja">About Puja</a>
						<a class="nav-link ps-0" href="#benefits">Benefits</a>
						<a class="nav-link ps-0" href="#process">Process</a>
						<a class="nav-link ps-0" href="#details">Temple Details</a>
					</nav>
					<nav class="nav flex-column">
						<a class="nav-link ps-0 ps-md-3" href="#package">Packages</a>
						{# <a class="nav-link ps-0 ps-md-3" href="#completed">Completed Puja</a> #}
						<a class="nav-link ps-0 ps-md-3" href="#testimonial">Reviews</a>
						<a class="nav-link ps-0 ps-md-3" href="#faq">FAQs</a>
					</nav>
				</div>
			</div>
			<div class="col-12 col-md-4 ps-md-5 mt-4">
				<h3 class="text-white mb-3"> Our Address </h3>
				<p class="text-white">  First Floor, F-118, Adani Galleria, Sector 89A, Gurgaon, Pin - 122505  </p>
				<div class="socials">
					<nav class="nav">
						<a class="nav-link ps-0 pe-2" href="#">
							<img src="img/icons/yt.svg" class="img-fluid" alt="">
						</a>
						<a class="nav-link ps-1 pe-2" href="#">
							<img src="img/icons/insta.svg" class="img-fluid" alt="">
						</a>
						<a class="nav-link ps-1 pe-2" href="#">
							<img src="img/icons/linkedin.svg" class="img-fluid" alt="">
						</a>
						<a class="nav-link ps-1 pe-2" href="#">
							<img src="img/icons/wa.svg" class="img-fluid" alt="">
						</a>
						<a class="nav-link ps-1 pe-2" href="#">
							<img src="img/icons/x.svg" class="img-fluid" alt="">
						</a>
						<a class="nav-link ps-1 pe-2" href="#">
							<img src="img/icons/fb.svg" class="img-fluid" alt="">
						</a>
					</nav>
				</div>
			</div>
			<div class="col-12 border-top border-white mt-4 pt-4 pb-3">
				<p class="text-light fs-6 text-center mb-0"> &copy; <span id="year"></span> Sanatan App. All rights reserved. </p>
			</div>
		</div>
	</div>
</footer>