
<ion-content [fullscreen]="true">
  <div class="wrapper">
   <div class="overlay-gradient"></div>
   <ion-grid>
     <ion-row>
       <ion-col size="12">
         <h1 class="text-center text-primary leckerli-one-font">amMA</h1>
       </ion-col>
     </ion-row>
 
     <!-- slides -->
     <ion-row> 
       <ion-col size="12">
        <div class="sign-in-container">
          <ion-text class="sign-in-title">Start your motherhood journey</ion-text> <br>
          <ion-text class="sign-in-description">Share your mobile number and receive daily guidance in your motherhood journey</ion-text> <br>
        
          <div class="form-container">
            <ion-input type="tel" placeholder="Enter your mobile number" class="sign-in-input"></ion-input>
          </div>
          <ion-text>
            We’ll send you an OTP to verify your number.
          </ion-text>

        </div>
       </ion-col>
     </ion-row>
 
     <!-- fixed bottom buttons -->
     <div class="fixed-bottom-buttons">
     <ion-row>
       <ion-col size="12">
        
         <ion-button type="button" class="primary-custom-button" 
        >Continue
         <ion-icon name="arrow-forward-outline" class="text-white" slot="end"></ion-icon>
       </ion-button>
       </ion-col>
     </ion-row>
     </div>
 
   </ion-grid>
  </div>
 </ion-content>
 